*
!.gitignore
!Makefile
!README.md

# Only cpp files within src
!src/
src/*
!src/*.cpp

# Only hpp files within include
!include/
include/*
!include/*.hpp

# Only cpp files within test, prevent binary inclusion
!tests/
tests/*
!tests/*.cpp
